@use '../common' as c;
@include c.all();

.zc-currency-field {
  position: relative;
}

.zc-currency-symbol {
  position: absolute;
  left: 12px;
  top: 0;
  line-height: 36px;
  color: var(--zc-color-icon);
  font-family: var(--zc-font-family);
  font-size: var(--zc-font-size);
  font-weight: 400;
  pointer-events: none;
}

.zc-currency-field input.form-control {
  padding-left: 28px;
}

.zc-numberfield {
  font-variant-numeric: tabular-nums;
}
