/*Border-radius*/
$zc-radius-extra-small: 2px;
$zc-radius-small: 4px;
$zc-radius-medium: 6px;
$zc-radius-large: 8px;
$zc-radius-extra-large: 10px;
$zc-radius-jambo: 16px;
$zc-radius-circle: 50%;


$zc-input-height: 36px;
$zc-input-width: 240px;
