@font-face {
  font-family: 'ZC Live Outline';
  src: url('../fonts/smooth-icons/zclive-outline.eot');
  src: url('../fonts/smooth-icons/zclive-outline.eot') format('embedded-opentype'),
    url('../fonts/smooth-icons/zclive-outline.woff2') format('woff2'),
    url('../fonts/smooth-icons/zclive-outline.woff') format('woff'),
    url('../fonts/smooth-icons/zclive-outline.ttf') format('truetype'),
    url('../fonts/smooth-icons/zclive-outline.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ZC Live Solid';
  src: url('../fonts/smooth-icons/zclive-solid.eot');
  src: url('../fonts/smooth-icons/zclive-solid.eot') format('embedded-opentype'),
    url('../fonts/smooth-icons/zclive-solid.woff2') format('woff2'),
    url('../fonts/smooth-icons/zclive-solid.woff') format('woff'),
    url('../fonts/smooth-icons/zclive-solid.ttf') format('truetype'),
    url('../fonts/smooth-icons/zclive-solid.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
